<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.tensorflow.lite.examples.classification">

    <uses-sdk />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/activity_name_classification"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Presentation.MaskDetectionActivity.ClassifierActivity"
            android:label="@string/activity_name_classification"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Presentation.MainActivity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Presentation.CheckListActivity.CheckListActivity"/>
        <activity android:name=".Presentation.HealthCenterActivity.HealthCenterActivity"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCbbhNGxLH5pMdToO7atRLR__RSks177HM"/>

    </application>
</manifest>
